.item {
    background-color: rgb(110, 189, 241);
    width: 100%;
    min-height: 28px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
}

.itemLabel {
    cursor: pointer;
    position: relative;
    align-self: center;
}

.itemLabel::before {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid black;
    content: "";
    top: -10px;
    left: 5px;
}

.itemLabel::after {
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    width: 10px;
    height: 5px;
    transform: rotate(-45deg);
    border: 2px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;

}

.itemInput {
    display: none;
}

.touchB {
    background-image: url(https://static.wixstatic.com/media/f07ffc_3f2498484fa74ec09742cbf1025c598a.png/v1/fill/w_94,h_90,al_c,usm_0.66_1.00_0.01,enc_auto/f07ffc_3f2498484fa74ec09742cbf1025c598a.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin: auto 0;
    border: none;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.touch {
    background-color: transparent;
    width: 25px;
    height: 25px;
    margin: auto 0;
    opacity: 1;
}

.item:hover .touchB {
    opacity: 1;
}

.itemInput:checked+.itemLabel::after {
    opacity: 1;
}

.task {
    position: relative;
    align-self: center;
    width: 210px;
    word-wrap: break-word;
    padding: 5px 0;
    margin-left: 30px;
    margin-right: 5px;
    font-size: 20px;
}

.itemButton {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 26px;
    align-self: center;
    background-color: transparent;
    border: none;
    font-size: 0;
}

.itemButton:focus {
    border: none;
}

.itemButton::before {
    position: absolute;
    top: 2px;
    left: 13px;
    content: "";
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.658);
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.651);
}

.itemButton::after {
    position: absolute;
    top: 2px;
    left: 13px;
    content: "";
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    transform: rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.658);
}

.itemCompleted {
    background-color: rgba(74, 148, 197, 0.226);
    width: 100%;
    min-height: 28px;
    margin-bottom: 5px;
    display: flex;
    text-decoration: line-through;
}






























.editor {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0px;
    min-height: 100%;
}

.editing {
    width: 228px;
    outline: none;
    border: 2px solid black;
    border-right: 0;
    background-color: rgba(255, 248, 220, 1);
    font-size: 17px;
}

.buttonEditor {
    display: flex;
    position: absolute;
    left: 266px;
    width: 33px;
    margin-left: 1px;
    background-color: rgba(255, 248, 220, 1);
    font-size: 0;
    min-height: 100%;
    border: 2px solid black;
    align-items:center;
}

.buttonEditor::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 15px;
    border: 2px solid black;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    left: 10px;
}

.buttonEditorout {
    position: absolute;
    display: flex;
    left: 233px;
    width: 33px;
    min-height: 100%;
    margin-left: 1px;
    background-color: rgba(255, 248, 220, 1);
    font-size: 0;
    align-items: center;
}

.buttonEditorout::before {
    position: absolute;
    left: 13px;
    content: "";
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.658);
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.651);


}

.buttonEditorout::after {
    position: absolute;
    left: 13px;
    content: "";
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 0.644);
    transform: rotate(-45deg);
    background-color: rgba(0, 0, 0, 0.658);

}

@media (min-width: 500px) {
    .task {
        flex-grow: 1;
    }

    .editor {
        top: 0px;
        width: 100%;
    }

    .editing {
        flex-grow: 1;

    }

    .buttonEditor {
        position: relative;
        left: 0;
        margin-left: 0;
    }

    .buttonEditorout {
        position: relative;
        left: 0;
        margin-left: 0;
        border-right: 1px solid;
    }
}