.tasks {
    width: 280px;
    margin: 0 auto;
    margin-top: 15px;
    border-top: 2px solid black;  
    padding: 0 5px;
    box-sizing: border-box;
}
.tasks h1 {
    font-size: 22px;
    margin: 0;
    padding: 10px 0 ;
}