.buttonFilter {
    margin-top: 10px;
    padding: 0 24px;
    display: flex;

}

button:focus {
    border: 2px solid rgba(0, 0, 0, 0.473);
    color: rgba(0, 0, 0, 0.493);
    outline: none;
}

.buttonActive,
.buttonClear,
.buttonAll,
.buttonCompledet {
    cursor: pointer;
    background-color: transparent;
}

.buttonActive {
    margin-left: 5px;
}

.buttonCompledet {
    margin-left: 5px;
}

.buttonClear {
    margin-left: 50px;
}